{% load static %}

<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chamados</title>
    <link rel="stylesheet" href="{% static 'chamados/chamados.css' %}" />
  </head>
  <body>
    <div class="background-page div-overlay">
      <div class="div-header">
        <h1 class="title">Chamados</h1>
        <div class="header-elements">
            <button class="button">
                Recarregar
            </button>
            <div>
                <input type="text">
            </div>
        </div>
        <div>
            <table>

            </table>
        </div>
        {% for chamado in chamados %}
        <div>
          <h3>{{ chamado.titulo }}</h3>
          <p>{{ chamado.descricao }}</p>
          <p>Prioridade: {{ chamado.prioridade }}</p>
          <p>Prazo: {{ chamado.prazo }}</p>
          <p>Setor: {{ chamado.setor }}</p>
        </div>
        <hr />
        {% empty %}
        <p>Nenhum chamado encontrado</p>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
